@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans JP", sans-serif;
}

input {
	font: inherit;
	padding: 10px;
	padding-left: 15px;
	/* width: 200px; */
	border: 1px solid #828282;
	border-radius: 8px;
	margin: 5px;
}

.default:hover {
	border-color: #333333;
}
.default:hover form {
	color: #333333;
}
.default:focus {
	border-color: #2962ff;
}
.default:focus form {
	color: #2962ff;
}

.container {
	padding: 2rem;
}
.wrapper {
	margin-bottom: 2rem;
}
h2 {
	text-transform: capitalize;
	margin-bottom: 10px;
	border-bottom: 1px solid #828282;
	display: inline-block;
}
.form {
	color: #333333;
}
.disabled {
	background: #f2f2f2;
	border: 1px solid #e0e0e0;
}
.error,
.helperError {
	border-color: #d32f2f;
}

.errorText {
	color: #d32f2f;
}
.fullWidth {
	width: 100%;
}
/* for the form */

#password-input {
	position: relative;
	max-width: 300px;
	/* transition: all 3s ease-in-out; */
}
.password-icons {
	position: absolute;
	top: 32%;
	right: 15%;
	cursor: pointer;
}
h3 {
	word-wrap: break-word;
	max-width: 300px;
	margin-block: 1rem;
}
.form-control {
	margin-block: 2rem;
}
